.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.form-field {
  margin-bottom: 20px;
}

.table-cell {
  padding: 16px;
}

.action-cell {
  text-align: center;
  padding: 16px;
}
